<div>
  <h2>
    {{title}}
  </h2>
  <form [formGroup]="newMovie" (submit)="addNewMovie()">
    <div class="form-group">
      <mat-form-field appearance="outline" class="info-form-field">
        <mat-label>Movie Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Movie Name"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="info-form-field">
        <mat-label>Year</mat-label>
        <input
          matInput
          type="number"
          formControlName="year"
          placeholder="Year"/>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="save-info" type="submit"
            [disabled]="!newMovie.valid">
      Save Product
    </button>
  </form>
</div>
